html, body, #root {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #6c6f73;
}

h1, h2, h3, h4, h5 {
    color: #333;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

img {
    max-width: 100%;
}

.blockquote {
    font-size: 1.6rem;
    color: #333;
    border: none;
    padding: 0;
}

.blockquote-footer {
    margin: 1rem 0 0;
}

.stage {
    background: url(./stage.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

}

.stage .stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

.stage .stage-caption h1 {
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}

.feature-content {
    padding: 6rem;
    overflow: hidden;
    width: 100%;
}

.feature-dark {
    background: #262F36;
    color: white;
}

.container {
    margin: 0 0 0 0;
    padding: 0;
    width: 100vw;
    border: 1px solid red;
    /* display: flex;     */
}

.border{
    border: 1px solid red;

}

.feature-dark .feature-content .feature-caption h2 {
    color: white;
}

.feature-content img {
    margin-bottom: -6rem;
}
